SUPABASE_USER=
SUPABASE_DB=
SUPABASE_PASSWORD=
SUPABASE_HOST=
SUPABASE_URL=
SUPABASE_PUBLIC_KEY=

DATABASE_URL="postgres://${SUPABASE_USER}:${SUPABASE_PASSWORD}@${SUPABASE_HOST}:6543/${SUPABASE_DB}?pgbouncer=true"
DIRECT_URL="postgres://${SUPABASE_USER}:${SUPABASE_PASSWORD}@${SUPABASE_host}:5432/${SUPABASE_DB}"
